body{
	margin: 0;
	paddin: 0;
	background: url(Background.jpg) no-repeat;
	background-size: cover;
}
.box{
	width: 300px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic', sans-serif;
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size: 25px;
	letter-spacing: 4px;
	font-weight: 900;
}
 .box h5{
	 font-size: 18px;
	 letter-spacing: 1px;
	 font-weight: 200;
 }
 ul{
	margin: 0;
	padding: 0;
 }
 .box li{
	 display: left-side;
	 margin: none;
	 list-style: none;
 }
